<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">


<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">org.postgresql.Driver</property>

		<property name="connection.url">jdbc:postgresql://localhost:5432/Student</property>

		<property name="connection.username">axelor</property>

		<property name="connection.password">axelor</property>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>



		<property name="show_sql">true</property>

		<property name="hbm2ddl.auto">update</property>

		<!-- <property name="hibernate.cache.use_second_level_cache">true</property>

		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<property name="hibernate.javax.cache.provider">net.sf.ehcache.hibernate.EhCacheProvider</property>
 -->
		<mapping class="com.rest.jsp.hibernate.EmpData" />
		

	</session-factory>

</hibernate-configuration>